/*-------------------------
	Dropbox Element
--------------------------*/
#content_dropbox {
	background: url('/resources/images/background_tile_3.jpg');
	border-radius: 3px;
	position: relative;
	margin: 10px auto 20px;
	min-height: 300px;
	overflow: hidden;
	padding-bottom: 40px;
	width: 400px;
	box-shadow: 0 0 2px #1fad9d inset, 0 -2px 2px #1fad9d;
}

#content_dropbox .message {
	font-size: 18px;
	text-align: center;
	padding-top: 120px;
	display: block;
	color: #1fad9d;
}

#content_dropbox .message i {
	color: #ccc;
	font-size: 10px;
}

#content_dropbox {
	border-radius: 3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/
#content_dropbox .preview {
	width: 375px;
	height: 275px;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
}

#content_dropbox .preview img {
	max-width: 100%;
	max-height: 100%;
	border: 2px solid #1fad9d;
	display: block;
	box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#content_dropbox .imageHolder {
	display: inline-block;
	position: relative;
}

#content_dropbox .uploaded {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('/resources/images/cm/done.png') no-repeat center center
		rgba(255, 255, 255, 0.5);
	display: none;
}

#content_dropbox .preview.done .uploaded {
	display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/
#content_dropbox .progressHolder {
	position: absolute;
	background-color: #252f38;
	height: 12px;
	width: 100%;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 2px #000;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
}

#content_dropbox .progress {
	background-color: #2586d0;
	position: absolute;
	height: 100%;
	left: 0;
	width: 0;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

#content_dropbox .preview.done .progress {
	width: 100% !important;
}