<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<!-- SECURITY -->
	<security:global-method-security
		secured-annotations="enabled" />
	<security:http pattern="/resources/**" security="none" />
	<security:http pattern="/login**" security="none" />
	
	<!-- Begin: utilized by the SDK -->
	<security:http pattern="/contentserver**" security="none" />
	<security:http pattern="/gcm**" security="none" />
	<!-- End: utilized by the SDK -->
	<!-- Begin: utilized by Stripe -->
	<security:http pattern="/webhook/stripe/**" security="none" />
	<!-- End: utilized by the SDK -->


	<security:http auto-config="true" disable-url-rewriting="true">

		<!-- Restrict URLs based on role. evaluated in the order listed and the 
			first match will be used. So you must put the most specific matches at the 
			top. -->
		<security:intercept-url pattern="/am/**"
			access="ROLE_SUPER_ADMIN" />
		<security:intercept-url pattern="/um/**"
			access="ROLE_ADMIN, ROLE_SUPER_ADMIN" />
		<security:intercept-url pattern="/secured/**"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/logout**"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/applications"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/account"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/**/content"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/**/contentgroups"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/stripe/**"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
		<security:intercept-url pattern="/search/**"
			access="ROLE_SUPER_ADMIN, 
			ROLE_ADMIN, ROLE_USER" />
				<!-- <security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" 
			/> -->
		<security:anonymous granted-authority="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Override default login and logout pages -->
		<security:form-login login-page="/login"
			default-target-url="/applications" authentication-failure-url="/loginfailure" />
		<!-- <security:form-login login-page="/login" authentication-failure-handler-ref="ajaxAuthenticationFailureHandler" 
			authentication-success-handler-ref="ajaxAuthenticationSuccessHandler" /> -->
		<security:logout invalidate-session="true"
			logout-success-url="/" />


		<security:remember-me key="rememberMeKey" />

		<security:access-denied-handler ref="accessDeniedHandler" />
	</security:http>

	<bean id="accessDeniedHandler"
		class="com.cm.contentmanager.auth.web.rest.AccessDeniedExceptionHandler">
	</bean>

	<bean id="rememberMeFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="rememberMeServices" />
		<property name="authenticationManager" ref="authManager" />
	</bean>

	<bean id="rememberMeServices"
		class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<property name="userDetailsService" ref="springAuthenticator" />
		<property name="key" value="rememberMeKey" />
	</bean>
	<bean id="standardPasswordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder">
	</bean>
	<bean name="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<security:authentication-manager alias="authManager">
		<security:authentication-provider
			user-service-ref="springAuthenticator">
			<security:password-encoder ref="bcryptEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>



	<!-- END SECURITY -->



</beans>